	<head>
		<title>Results</title>
	</head>
	<body>
		<div id = "form">
			<form action = "/home" method = "get">
				<h1>Submitted Information</h1>
				<p>Name: <%= full_name %> </p>
				<p>Dojo Location: <%= location %>   </p>
				<p>Favorite Langage: <%= language %>  </p>
				<p>Comment: <%= comment %>   </p>
				<input id = "back" type = "Submit" value = "Go Back">
			</form>
		</div>
	</body>
</html>